body{
    text-align: right;
    margin-right: 35px;
    background-image: url(spacex-TV2gg2kZD1o-unsplash.jpg);
    background-size: 2000px;
    background-position: -1px;
    color: white;
    font-family: 'Raleway', serif;
}

h1{
    margin-top: 180px;
    font-size: 50px;
    margin-bottom: -81px;
}
h2{
    font-size: 20px;
    margin-top: 119px;
    margin-bottom: 29px;
}
p{
    font-size: 15px;
    opacity: 0.9;
}

samp{
    color: orange;
}
ul{
    position:relative;
    justify-content: flex-end;
    display: flex;
    margin-top: 40px;
}
li{
    list-style: none;
    display: inline;
}



ul li a .icon{
    display: block;
    color: white;
    text-decoration: none;
    padding: 7px;
    font-size: 30px;
    transition: 0.4s;
}

ul li:hover a .icon{
    transform: translateY(-5px);
}

.last{
    margin-bottom: 40px;
}
.butao{
    font-size: 25px;
    padding: 10px 15px;
    color: white;
    background-color: orange;
    text-decoration: none;
}
.butao:hover{
    opacity: 0.7;
}
